<input type="text" class="form-control" [(ngModel)]="carName">
<button (click)="addCar()" class="btn btn-primary">Добавить машину</button>
<p *ngIf="!addCarStatus">Машина не добавлена</p>
<p *ngIf="addCarStatus">Машина добавлена</p>
<hr>

<!--<div class="app-car" *ngFor="let car of cars"></div>-->

<ul>
    <li *ngFor="let car of cars; let idx = index">
        <div
            [ngStyle]="{'background-color': (idx+1)%2===0 ? 'red' : 'green','color':'white'}"
            [ngClass]="{'big-text': setBigCarText(car)}"
        >
            <b>{{idx + 1}}</b> - {{car}}
        </div>
    </li>
</ul>
